
.container{
  display: flex;
  flex-direction: column;

}

button{
  align-self: flex-end;
  margin-bottom: 30px;
  margin-right: 20px;
}



.data-cintainer{
  flex-direction: column;
  width: 80%;
  align-self: center;
  overflow: hidden;
}
